﻿@{
    Script.Require("jQueryUI").AtFoot();
    Script.Include("layout-element-field.js").AtFoot();
}
<fieldset class="layout-editor-element-template"
          data-template="field"
          data-icon="@Url.Content("~/Modules/Onestop.Layouts/Content/Field.png")"
          data-description="Content Field"
          data-for-templates="true"
          data-default-xml="&lt;field/&gt;">
    <legend>Content Field</legend>
    <div>
        <label for="{{field}}">@T("Field")</label>
        <select id="{{field}}" name="{{field}}" data-value="{{field}}">
            <option value="">-</option>
            @foreach(var field in Model.ContentFields) {
                <option value="@field.Name">@field.Name</option>
            }
        </select>
    </div>
    <div>
        <label for="{{left}}">@T("X")</label>
        <input type="number" id="{{left}}" name="{{left}}" data-value="{{left}}" class="text-small left length" />
        <label for="{{top}}">@T("Y")</label>
        <input type="number" id="{{top}}" name="{{top}}" data-value="{{top}}" class="text-small top length" />
    </div>
    <div>
        <label for="{{class}}">@T("CSS class")</label>
        <input type="text" id="{{class}}" name="{{class}}" value="{{class}}" class="text-smallish css-class-editor" />
    </div>
</fieldset>