﻿@{
    Script.Require("jQueryUI").AtFoot();
    Script.Include("layout-element-zone.js").AtFoot();
}
<fieldset class="layout-editor-element-template"
          data-template="zone"
          data-icon="@Url.Content("~/Modules/Onestop.Layouts/Content/Zone.png")"
          data-description="Content Zone"
          data-for-templates="true"
          data-default-xml="&lt;zone/&gt;">
    <legend>Content Zone</legend>
    <div>
        <label for="{{zone}}">@T("Zone")</label>
        <input type="text" id="{{zone}}" name="{{zone}}" value="{{zone}}" class="text-smallish"/>
    </div>
    <div>
        <label for="{{left}}">@T("X")</label>
        <input type="number" id="{{left}}" name="{{left}}" data-value="{{left}}" class="text-small left length" />
        <label for="{{top}}">@T("Y")</label>
        <input type="number" id="{{top}}" name="{{top}}" data-value="{{top}}" class="text-small top length" />
    </div>
    <div>
        <label for="{{width}}">@T("Width")</label>
        <input type="number" id="{{width}}" name="{{width}}" data-value="{{width}}" class="text-small width length" />
        <label for="{{height}}">@T("Height")</label>
        <input type="number" id="{{height}}" name="{{height}}" data-value="{{height}}" class="text-small height length" />
    </div>
    <div>
        <label for="{{class}}">@T("CSS class")</label>
        <input type="text" id="{{class}}" name="{{class}}" value="{{class}}" class="text-smallish css-class-editor" />
    </div>
</fieldset>